@font-face {
    font-family: 'Digital-7';
    src: url('../assets/fonts/digital-7.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
  }

  .tick-credits {
    display: none;
  }

  .tick {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #61dafb;
    font-family: 'Digital-7';
    justify-content: space-evenly;
    /* margin-right: 1rem; */
  }